/* Start Variables */
:root {
    --maincolor1: #19c8fa;
    --BG-overlay: #19c9fa44;
    --secondary-color: #777;
    --section-padding: 100px;
    --section-background: #f6f6f6;
    --transparent-color: rgb(25 200 250 / 48%);
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}
/* End Variables */

/* Start Globle Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* default HTML style */
html {
    scroll-behavior: smooth;
}

/* default Body style */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-base);
}

ul {
    list-style: none;
}

/* default Container style */
.container {
    width: min(90%, 2400px);
    margin-inline: auto;
}
/* End Globle Rules  */

/* Start Componants */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: var(--font-size-xxl);
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: #212121;
}

.main-heading h2::before {
    content: '';
    width: max(120px, 18svw);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: black;
    bottom: -30px;
}

.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: min(400px, 90%);
    margin: 0 auto 100px;
    line-height: 2;
    color: var(--secondary-color);
}
/* End Componants */

/* Start Header  */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: min(90%, 2200px);
    min-height: 97px;
    height: 2svw;
}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}

header .logo img {
    width: max(100px, 8svw);
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--font-size-lg);
}

header nav .toggle-menu {
    color: white;
    font-size: var(--font-size-md);
}

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: 15px !important;
    }
}

header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--maincolor1);
    border-bottom: 1px solid var(--maincolor1);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid #a5a5a5;
}

header nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header  */

/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #2b2b2b;
    background-image: url(../photos/landing.jpg);
    background-size: cover;
    position: relative;
    transition: 0.5s;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .landing {
        background-image: url(../photos/Amp-Landing-Cover.jpg) !important;
        
        transition: 0.5s;
    }
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, black 2%, #04212661);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 50%;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    transition: 0.5s;

}

.landing .text .content {
    max-width: 500px;
    transition: 0.5s;

}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: var(--font-size-xl);
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
    transition: 0.5s;

}

.landing .text .content p {
    font-size: var(--font-size-base);
    line-height: 2;
    transition: 0.5s;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid var(--maincolor1);
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--maincolor1);
}
/* End Landing */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 60px 40px;
        transition: 0.3s;
    }

    .services .srv-box {
        margin-bottom: none;
        transition: 0.3s;
    }
}

.services .srv-box {
    display: flex;
    margin-bottom: 50px;
}

.services .srv-box i {
    margin-right: 50px;
}

@media (max-width: 768px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i {
        margin: 0 0 30px;
    }
}

.services .srv-box h3 {
    margin-bottom: 30px;
    color: var(--maincolor1);
}

.services .srv-box p {
    line-height: 2;
    color: var(--secondary-color);
}
/* End Services */

/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    background-image: url(../photos/Grid-Template-BG.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--BG-overlay);
}

.design .image {
    text-align: center;
    bottom: -116px;
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image img {
    width: 275px;
    bottom: -116px;
    position: relative;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 768px) {
    .design .text {
        width: 215px;
    }

    .design .image {
        display: none;
    }
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul {
    color: white;
    font-weight: 500;
    line-height: 2;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f51B';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design */

/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle li.active {
    background-color: var(--maincolor1);
    color: white;
}

.portfolio .gallary-container {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 3svw;
}

.portfolio .gallary-container .box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}

.portfolio .gallary-container .box:hover .caption {
    bottom: 0;
}

.portfolio .gallary-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

@media (max-width: 768px) {
    .portfolio .gallary-container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .portfolio .gallary-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .gallary-container .box {
        flex-basis: 25%;
    }
}

.portfolio .gallary-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .gallary-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    bottom: -100%;
    transition: 0.5s;
}

.portfolio .gallary-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .gallary-container .box .caption p {
    color: var(--maincolor1);
}

.portfolio .more {
    background-color: var(--maincolor1);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
}
/* End Portfolio */

/* Start Video  */
.video {
    position: relative;
}

    /* Video Overlay  */
.video::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 45%);
}

.video video {
    width: 100%;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
}
/* End Video  */

/* Start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -10px;
    }
}
/* End About */

/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../photos/Stats\ BG.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 45%);
}

.stats .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px ;
}

.stats .container .box {
    color: white;
    padding: 20px;
    background-color: var(--transparent-color);
    width: min(90%, 310px);
    border-radius: 8px;
}

.stats .container .box i {
    width: 60px;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
    font-size: var(--font-size-lg);
}

.stats .container .box .number {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: var(--font-size-base);
}
/* End Stats */

/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container>div>h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container>div>p {
    color: var(--secondary-color);
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}


.our-skills .testmonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .testmonials .content img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .our-skills .testmonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testmonials .content img {
        margin: 0 auto 20px;
    }
}

.our-skills .testmonials .content .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.our-skills .testmonials .content .text p {
    color: var(--secondary-color);
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .testmonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testmonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.our-skills .testmonials .bullets li.active {
    background-color: var(--maincolor1);
    border-color: var(--maincolor1);
}

.skills .prog-holder {
    margin-bottom: 40px;
    width: max(400px, 90%);
    margin-inline: auto;
}

.skills .prog-holder h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: normal;
}

.skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.skills .prog-holder .prog span {
    display: block;
    background-color: var(--maincolor1);
    height: 100%;
    position: relative;
}

.skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    border-radius: 4px;
}

.skills .prog-holder .prog span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: #333 transparent transparent transparent;
    right: -6px;
    top: -13px;
}
/* End Skills */

/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../photos/Quote-BG.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 45%);
}

.quote .container {
    position: relative;
}

.quote {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.quote .container span {
    font-size: 18px;
    font-weight: normal;
}

.quote .container p {
    font-size: 20px;
}

.quote .container p::before {
    content: '\f10d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: -20px;
    left: 15px;

}

.quote .container p::after {
    content: '\f10e';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: -20px;
    right: 15px;
}
/* End Quote */

/* Start Pricing */
.Pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.Pricing .container .plans {
    display: flex;
    justify-content: center;
    gap: 20px 0;
    flex-wrap: wrap;
}

@media (max-width: 767px){
    .Pricing .plans {
        flex-direction: column;
    }
}

.Pricing .container .plans .plan {
    background-color: #19c8fa0f;
    text-align: center;
    width: min(320px, 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
    margin: 0 auto;
}


.Pricing .container .plans .plan .head {
    padding: 30px 20px;
    border-bottom: 1px solid var(--maincolor1);
    background-color: #067d9e6c;
}

.Pricing .container .plans .plan .head h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: var(--font-size-lg);
    font-family: fantasy;
    letter-spacing: 2px;
    color: #212121;
}

.Pricing .container .plans .plan .head span {
    font-size: var(--font-size-md);
    font-weight: bold;
}

.Pricing .container .plans .plan .head span::before {
    content: '$';
    font-size: var(--font-size-sm);
    position: relative;
    top: -20px;
    margin-right: 0px;
    font-weight: normal;
}

.Pricing .container .plans .plan .head span::after {
    content: '/MO';
    font-size: var(--font-size-sm);
    position: relative;
    right: -15px;
}

.Pricing .container .plans .plan ul {
    border-bottom: 1px solid var(--maincolor1);
}

.Pricing .container .plans .plan ul li {
    padding: 10px 20px;
    position: relative;
    font-size: var(--font-size-sm);
    margin-top: 20px;
}

.Pricing .container .plans .plan ul li:not(:last-child)::after {
    content: '';
    width: 120px;
    height: 1px;
    border-bottom: 1px solid var(--maincolor1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.Pricing .foot {
    margin: 20px auto;
}
.Pricing .container .plans .plan .foot a {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    border: 1px solid var(--maincolor1);
    width: fit-content;
    margin: 10px auto;
    border-radius: 4px;
}

.Pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: var(--font-size-md);
}

.Pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--maincolor1);
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 18px;
    font-size: var(--font-size-sm);
}
/* End Pricing */

/* Start Subscribe */
.Subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../photos/Grid-Template-BG.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

.Subscribe::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 45%);
}

.Subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;}

@media (max-width: 991px) {
    .Subscribe .container {
        flex-direction: column;
    }
}

.Subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.Subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.Subscribe form input[type="email"] {
    border: 1px solid white;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--maincolor1);
    color: white;
    width: calc(100% - 130px);
    border-right: none;
}

.Subscribe form input[type="submit"] {
    width: 130px;
    color: white;
    background-color: var(--maincolor1);
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    border-left: none;
}

.Subscribe form input[type="email"]:focus,
.Subscribe form input[type="submit"]:focus {
    outline: none;
}

.Subscribe form ::placeholder {
    color: white;
}

.Subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media (max-width: 991px) {
    .Subscribe p {
        margin: 30px 0 0;
    }
}
/* End Subscribe */

/* Start Contact Us  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    width: max(320px, 50%);
    margin-inline: auto;
}

.contact .content form .main-input {
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}
/* Text area have another style inline style */

.contact .content form input[type="submit"] {
    display: flex;
    background-color: var(--maincolor1);
    color: white;
    padding: 4px 8px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.contact .content .info {
    display: block;
    width: 25%;
}

@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
        width: 100%;
    }
}

.contact .content .info h4 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;

}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 100px;
}

@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info .phone {
    display: block;
    color: var(--secondary-color);
    margin-bottom: 10px;
    line-height: 1.6;

}

.contact .content .info address {
    color: var(--secondary-color);
    line-height: 1.6;
}

@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 30px;
    }
}
/* End Contact Us  */

/* Start footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../photos/Grid-Template-BG.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}

.footer .container {
    position: relative;
    margin: 0 auto;
}

.footer img {
    margin-bottom: 20px;
    max-width: 150px;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}

.footer .social-icons i {
    padding: 10px 15px;
}

.footer .copyright {
    margin-top: 60px;
}

.footer .copyright span {
    font-weight: bold;
    color: var(--maincolor1);
}


/* End footer */

